extends layout

block links
  link(rel='stylesheet', type='text/css', href='/stylesheets/top.css')

block body
  img(src='/images/logo.png')
  h1 Tumblr Jockey
  p Social VJ System
  a(href='/login') login
