html, body
  background-color #2C4762
  margin 0
  padding 0
  width 100%
  height 100%

  .wrapper
    width 960px

    .login
        margin-left 90px
        background-color #fa9915
        color #FFF
        text-decoration none
        border-radius 240px
        display inline-block
        vertical-align middle
        height 120px
        line-height 120px
        font-size 18px
        text-align center
        cursor auto
        width 120px

        &:hover
          background-color #f18d05
          transition-duration 0.3s

    header
      position fixed
      float left
      width 309px

    article
      width 600px
      float right
      color #FFF

      h1
        font-size 40px
        text-shadow 3px 3px 1px rgba(0, 0, 0, 0.5)
        margin-bottom 0

      .left-line
        padding-left 15px
        border-left 5px solid #FFF

        h5
          font-size 28px
          text-shadow 3px 3px 1px rgba(0, 0, 0, 0.5)
          margin-bottom 0

        a
          color #FFF

      h3
        font-size 36px
        text-shadow 3px 3px 1px rgba(0, 0, 0, 0.5)
        margin-bottom 0
